.apg-posts-slider *,
.apg-posts-slider *::before,
.apg-posts-slider *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.apg-posts-slider a {
  color: inherit;
  text-decoration: none;
}

.apg-posts-slider button,
.apg-posts-slider input,
.apg-posts-slider optgroup,
.apg-posts-slider select,
.apg-posts-slider textarea,
.apg-posts-slider span {
  line-height: 1.15;
}

.slick-slide {
  margin-left: 15px;
  margin-right: 15px;
}

.apg-posts-container .slick-list {
  padding: 15px 0 15px 0;
}

.slick-track {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.progress,
.progress-bar {
  margin-top: 15px;
  background-color: #ddd;
  height: 7px;
  width: 100%;
}

.progress-bar {
  height: 7px;
  background-color: #01A982;
  width: 0%;
}

.apg-slider-prev,
.apg-slider-next,
.apg-slider-prev:hover,
.apg-slider-prev:focus,
.apg-slider-next:hover,
.apg-slider-next:focus {
  position: relative;
  color: #01a982;
  cursor: pointer;
  bottom: 50%;
  width: 40px;
  height: 40px;
  background: transparent;
  border: solid 2px #01a982;
}

.apg-slider-prev:hover,
.apg-slider-prev:focus,
.apg-slider-next:hover,
.apg-slider-next:focus {
  background: #01a982;
  color: #ffffff;
  border: none;
  outline: none;
}

.apg-slider-prev i,
.apg-slider-next i {
  color: inherit;
}

.apg-slider-prev span:hover,
.apg-slider-next span:hover {
  color: #ffffff;
}

.apg-slider-prev {
  margin-right: 25px;
}

.apg-buttons {
  text-align: center;
  padding-top: 25px;
}

.apg-post-item,
.apg-post-item * {
  box-sizing: border-box;
}

.apg-post-item {
  position: relative;
  display: flex !important;
  flex-direction: column;
  background: #fff;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
}

.apg-carousel-thumbnail {
  margin: 0;
  position: relative;
  width: 100%;
  height: 226px;
  overflow: hidden;
}

.apg-carousel-thumbnail .apg-thumbnail-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.apg-carousel-desc {
  color: #4a4e69;
  opacity: 1;
  bottom: 14px;
  z-index: 5;
  background: #ffffff;
  padding: 20px;
  transition: all .3s ease;
}

.apg-carousel-title a {
  color: #515151;
  font-family: "Lato", Sans-serif;
  font-size: 17px;
  font-weight: 900;
  margin-bottom: 10px !important;
}

.apg-carousel-meta {
  display: inline-flex;
}

.apg-meta-item {
  color: #6d787a;
  font-family: "Lato", Sans-serif;
  font-size: 13px;
  padding: 10px 0 15px 0;
  font-weight: 400;
  transition: all 1.1s cubic-bezier(.37, .31, .2, .85);
}

.apg-meta-item .apg-meta-cat {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 4px 10px;
  background: #e8e4fb;
  color: #444;
  font-weight: 700;
  border-radius: 15px
}

.apg-meta-item .apg-meta-cat:hover {
  background: #01A982;
  color: #ffffff;
  cursor: pointer;
}

.apg-carousel-excerpt {
  padding-bottom: 57px;
  overflow: hidden;
}

.apg-carousel-excerpt p {
  color: #444;
  font-family: "Lato", Sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5em;
}

.apg-post-item .cta-btn {
  position: absolute;
  bottom: 29px;
}

.apg-post-item .cta-btn a {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  font-weight: 600;
  vertical-align: middle;
  color: #FFFFFF;
  background: linear-gradient(60deg, #01A982 0 13%, #1cd3a8 20%, #01A982 27%, #01A982);
  background-position: 99% 50%;
  background-size: 200% 200%;
  border-radius: 100px;
  padding: 10px 18px 12px 18px;
  transition: background-position .5s;
}

.apg-post-item .cta-btn a:hover {
  background-position: 0 50%;
}

.apg-post-item .cta-btn a i {
  vertical-align: middle;
  padding-left: 5px;
  font-size: 14px;
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}

.apg-modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: rgb(2 53 48 / 91%);
}

.apg-modal .apg-post-mdl-content {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: "Lato", Sans-serif;
  background-color: #fefefe;
  margin: 4% auto;
  padding: 35px 35px 35px 35px;
  border: 1px solid #888;
  width: 800px;
}

.apg-modal .apg-post-mdl-close {
  position: absolute;
  top: -4px;
  right: -2rem;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  z-index: 2;
}

.apg-modal .apg-post-mdl-close i {
  font-size: 22px;
  color: #ffffff;
}

.apg-modal .apg-post-mdl-close i:hover,
.apg-modal .apg-post-mdl-close i:focus {
  color: #7ffdf2;
  text-decoration: none;
  cursor: pointer;
}

.apg-modal .apg-post-mdl-img {
  display: block;
  max-width: 100%;
}

.apg-post-mdl-meta {
  width: 100%;
  padding: 15px 0;
}

.apg-post-mdl-meta span {
  color: #6d787a;
  margin-right: 15px;
  font-family: "Lato", Sans-serif;
  font-size: 14px;
  margin-bottom: 10px;
}

.apg-post-mdl-meta span:first-child {
  border-right: 3px solid #6d787a;
  padding-right: 15px;
}

.apg-post-mdl-slug {
  font-family: "Lato", Sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin: 25px 0 6px 0;
  color: #737373;
}

.apg-modal .apg-post-mdl-title {
  font-family: "Lato", Sans-serif;
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 10px;
  margin-top: 0;
}

.apg-modal .apg-post-mdl-body {
  font-family: "Lato", Sans-serif;
  font-size: 17px;
  line-height: 1.8rem;
  margin-top: 20px;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}


@media (max-width: 768px) {
  .apg-modal .apg-post-mdl-content {
    width: 90%;
  }

  .apg-modal .apg-post-mdl-content {
    margin: 14% auto;
  }
}