.apg-posts-slider *, .apg-posts-slider *::before, .apg-posts-slider *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.apg-posts-slider a {
  color: inherit;
  text-decoration: none;
}

.apg-posts-slider button,
.apg-posts-slider input,
.apg-posts-slider optgroup,
.apg-posts-slider select,
.apg-posts-slider textarea, 
.apg-posts-slider span {
  font-size: 100%;
  line-height: 1.15;
}

.slick-slide {
  margin-right: 25px;
}

.apg-posts-container .slick-list {
  padding: 15px 0 15px 10px;
}

.slick-track {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.progress, .progress-bar {
  background-color: #ddd;
  width: 100%;
}

.progress-bar {
  height: 7px;
  background-color: #01A982;
  width: 0%;
}

.apg-slider-prev,
.apg-slider-next,
.apg-slider-prev:hover,
.apg-slider-prev:focus,
.apg-slider-next:hover,
.apg-slider-next:focus {
  position: relative;
  color: #01a982;
  cursor: pointer;
  bottom: 50%;
  width: 40px;
  height: 40px;
  background: transparent;
  border: solid 2px #01a982;
}

.apg-slider-prev:hover,
.apg-slider-prev:focus,
.apg-slider-next:hover,
.apg-slider-next:focus {
  background: #01a982;
  color: #ffffff;
  border: none;
}

.apg-slider-prev i,
.apg-slider-next i {
  color: inherit;
}

.apg-slider-prev span:hover,
.apg-slider-next span:hover {
  color: #ffffff;
}

.apg-slider-prev {
  margin-right: 25px;
}

.apg-buttons {
  text-align: center;
  padding-top: 25px;
}

.apg-post-item, .apg-post-item * {
  box-sizing: border-box;
}

.apg-post-item {
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.08);
}

.apg-carousel-thumbnail {
  margin: 0;
  position: relative;
}

.apg-carousel-thumbnail img {
  width: 100%;
  height: auto;
}

.apg-carousel-thumbnail:after {
  content: "1";
  position: absolute;
  color: transparent;
}

.apg-carousel-desc {
  height: 100%;
  color: #4a4e69;
  opacity: 1;
  bottom: 14px;
  z-index: 5;
  background: #ffffff;
  padding: 20px;
  transition: all .3s ease;
}

.apg-carousel-title a {
  color: #515151;
  font-family: "Lato", Sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px !important;
}

.apg-carousel-meta {
  display: inline-flex;
}

.apg-meta-item {
  color: #afadad;
  font-family: "Lato", Sans-serif;
  font-size: 13px;
  padding-right: 15px;
  font-weight: 400;
  transition: all 1.1s cubic-bezier(.37, .31, .2, .85);
}

.apg-carousel-excerpt {
  color: #797979;
  font-family: "Lato", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.8em;
  overflow: hidden;
}

.apg-post-item .cta-btn {
  position: relative;
  margin-top: 25px;
}

.apg-post-item .cta-btn a {
  font-size: 15px;
  font-weight: 600;
  color: #FFFFFF;
  background: linear-gradient(60deg, #01A982 0 13%, #1cd3a8 20%, #01A982 27%, #01A982);
  background-position: 99% 50%;
  background-size: 200% 200%;
  border-radius: 100px;
  padding: 10px 10px 10px 18px;
  transition: background-position .5s;
}

.apg-post-item .cta-btn a:hover {
  background-position: 0 50%;
}

.apg-post-item .cta-btn a i {
  vertical-align: middle;
  font-size: 17px;
}
